{% extends 'CinemaAdminBundle::layout.html.twig' %}
    {% block body %}

        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>

<div class="container">
    <div class="row">
        {% for personne in personnes %}
        <div class="col-md-12 text-center jumbotron">

            <p>{{ personne.Realisateur }} {{ personne.Nom }}</p>
            <br>
            <p>age</p>
            <br>
            <h2 class="text-right"><a href="{{ path('page_film', {'id': personne.id}) }}"><p>voir ses films</p> </a> </h2>
            <br>
            <a href="{{ path('admin_personne_modif', {'id': personne.id}) }}"><p>modifier</p></a>
            <a href="{{ path('admin_personne_supprimer', {'id': personne.id}) }}">supprimer</a>


        </div>
        <hr>{% endfor %}
    </div>
</div>
{% endblock %}



