{% extends 'CinemaCinemaBundle::layout.html.twig' %}

{% block body %}

    <br />
    <br><br><br>

{% for film in films %}
    <div class="thumbnail">
        <div class="caption-full">
            <h4 class="pull-right"></h4>


            <h4>{{ film.Titre}}</h4>
            <p>{{ film.Resume }}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">sorti le  {{ film.Sortie|date('d/m/Y') }}</p>
            <p>Réalisé par{{ film.personne}}</p>
            <br>
            <p>Genre : {{ film.genre }}</p>
        </div>


    </div> {% endfor %}
    <button class="btn btn-success"><a href="{{ path('page_realisateur') }}">Retour</a></button>

{% endblock %}
